In [4]:
import pandas as pd
import numpy as np

In [2]:
pd.read_csv('AMZN.csv').head()

         Date       High        Low       Open      Close    Volume  Adj Close
0  2007-01-03  39.060001  38.049999  38.680000  38.700001  12405100  38.700001
1  2007-01-04  39.139999  38.259998  38.590000  38.900002   6318400  38.900002
2  2007-01-05  38.790001  37.599998  38.720001  38.369999   6619700  38.369999
3  2007-01-08  38.310001  37.169998  38.220001  37.500000   6783000  37.500000
4  2007-01-09  38.060001  37.340000  37.599998  37.779999   5703000  37.779999

In [3]:
pd.Series(data = [0, 1, 2, 3, 4])

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [9]:
pd.Series(data = np.arange(10), index = np.arange(-10, 0))

-10    0
-9     1
-8     2
-7     3
-6     4
-5     5
-4     6
-3     7
-2     8
-1     9
dtype: int32

In [10]:
A = {"PC": 10_000, "Laptop": 12000, "SmartPhone X": 14000, "SmratPhone Y": 980}

pd.Series(A)

PC              10000
Laptop          12000
SmartPhone X    14000
SmratPhone Y      980
dtype: int64

In [15]:
pd.Series(data = A)

PC              10000
Laptop          12000
SmartPhone X    14000
SmratPhone Y      980
dtype: int64

In [18]:
pd.Series(data = A, dtype = complex)

PC              10000.000000+0.000000j
Laptop          12000.000000+0.000000j
SmartPhone X    14000.000000+0.000000j
SmratPhone Y      980.000000+0.000000j
dtype: complex128

In [23]:
pd.Series(data = A, dtype = np.float64)

PC              10000.0
Laptop          12000.0
SmartPhone X    14000.0
SmratPhone Y      980.0
dtype: float64

In [24]:
pd.Series(data = A, name = "Gadjets")

PC              10000
Laptop          12000
SmartPhone X    14000
SmratPhone Y      980
Name: Gadjets, dtype: int64

In [25]:
pd.Series(data = A, name = "Devices")

PC              10000
Laptop          12000
SmartPhone X    14000
SmratPhone Y      980
Name: Devices, dtype: int64

In [28]:
S1 = pd.Series(data = A, name = "Gadjets", copy = True)

In [30]:
S1

PC              10000
Laptop          12000
SmartPhone X    14000
SmratPhone Y      980
Name: Gadjets, dtype: int64