In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('diamonds.csv')

In [4]:
df.shape

(53940, 10)

In [32]:
NewFrame = df.sample(n = 10_000, random_state = 42)

In [33]:
NewFrame.shape

(10000, 10)

In [37]:
NewFrame = NewFrame.reset_index(drop = True)

In [40]:
NewFrame.head()

   carat        cut color clarity  depth  table     x     y     z  price
0   0.24      Ideal     G    VVS1   62.1   56.0  3.97  4.00  2.47    559
1   0.58  Very Good     F    VVS2   60.0   57.0  5.44  5.42  3.26   2201
2   0.40      Ideal     E    VVS2   62.1   55.0  4.76  4.74  2.95   1238
3   0.43    Premium     E    VVS2   60.8   57.0  4.92  4.89  2.98   1304
4   1.55      Ideal     E     SI2   62.3   55.0  7.44  7.37  4.61   6901

In [41]:
NewFrame.reindex( index = [0, 1, 1, 0, 2, 3])

   carat        cut color clarity  depth  table     x     y     z  price
0   0.24      Ideal     G    VVS1   62.1   56.0  3.97  4.00  2.47    559
1   0.58  Very Good     F    VVS2   60.0   57.0  5.44  5.42  3.26   2201
1   0.58  Very Good     F    VVS2   60.0   57.0  5.44  5.42  3.26   2201
0   0.24      Ideal     G    VVS1   62.1   56.0  3.97  4.00  2.47    559
2   0.40      Ideal     E    VVS2   62.1   55.0  4.76  4.74  2.95   1238
3   0.43    Premium     E    VVS2   60.8   57.0  4.92  4.89  2.98   1304

In [43]:
pizza = pd.read_csv("Pizza_levels.csv", header = [0, 1], index_col = [0, 1])

In [76]:
pizza.reset_index(drop = True, col_level = 2)

  Numerical             Categorical         Numerical Categorical
   Diameter                    Type    Size     Price Extra_Sauce
0        22                    Beef   Large       500         yes
1        20                 Checken   Jambo       350         yes
2        16              Mozzarella  Medium       300          no
3        14                 classic   Small       150         yes
4        20                  Cheese  Medium       250          no
5        25  Mozzarella Beef-Cheese   Large       600         yes

In [49]:
df.first_valid_index()

0

In [50]:
df.last_valid_index()

53939

In [53]:
print(df.first_valid_index.__doc__)

Return index for first non-NA/null value.

Returns
-------
scalar : type of index

Notes
-----
If all elements are non-NA/null, returns None.
Also returns None for empty Series/DataFrame.

In [60]:
df.iloc[df.last_valid_index()].to_frame().T

      carat    cut color clarity depth table     x     y     z price
53939  0.75  Ideal     D     SI2  62.2    55  5.83  5.87  3.64  2757

In [63]:
pizza.last_valid_index()

('F', 'California')

In [65]:
pizza.first_valid_index()

('A', 'Local')

In [69]:
pizza.loc[pizza.first_valid_index()].to_frame().T

        Numerical Categorical        Numerical Categorical
         Diameter        Type   Size     Price Extra_Sauce
A Local        22        Beef  Large       500         yes

In [70]:
pizza.loc[pizza.last_valid_index()].to_frame().T

             Numerical             Categorical        Numerical Categorical
              Diameter                    Type   Size     Price Extra_Sauce
F California        25  Mozzarella Beef-Cheese  Large       600         yes

In [72]:
pizza.loc[("F", "California")].to_frame().T

             Numerical             Categorical        Numerical Categorical
              Diameter                    Type   Size     Price Extra_Sauce
F California        25  Mozzarella Beef-Cheese  Large       600         yes

In [81]:
df['carat'].idxmin()

14

In [84]:
df.iloc[14].to_frame().T

   carat      cut color clarity depth table     x     y     z price
14   0.2  Premium     E     SI2  60.2    62  3.79  3.75  2.27   345

In [85]:
df['depth'].idxmin()

4518

In [88]:
df.iloc[4518].to_frame().T

     carat   cut color clarity depth table     x     y     z price
4518     1  Fair     G     SI1    43    59  6.32  6.27  3.97  3634

In [96]:
diamnod = pd.read_csv('DummyDiamonds.csv', index_col = 0, header = 1)

In [97]:
diamnod

   Carat  Cut-Grade Clarity  Depth  Table  Price
0   0.23      Ideal    SI12   64.5   55.0  326.0
1   0.21    Premium     SI1    NaN   65.0  326.0
2   0.23        NaN     VS1   56.9   61.0    NaN
3   0.29    Premium     VS2   62.4   58.0  334.0
4    NaN       Good     NaN   63.3    NaN  335.0
5   0.24  Very Good    VVS2    NaN   62.8  336.0

In [105]:
diamnod['Depth'].idxmin(skipna = True)

2

In [106]:
diamnod.iloc[2].to_frame().T

  Carat Cut-Grade Clarity Depth Table Price
2  0.23       NaN     VS1  56.9    61   NaN

In [107]:
df['carat'].idxmax()

27415

In [110]:
df.iloc[df['carat'].idxmax()].to_frame().T

      carat   cut color clarity depth table      x      y     z  price
27415  5.01  Fair     J      I1  65.5    59  10.74  10.54  6.98  18018

In [111]:
diamnod['Depth'].idxmax(skipna = True)

0

In [118]:
diamnod['Carat'].idxmax(skipna = False)

nan

In [120]:
diamnod.iloc[diamnod['Carat'].idxmax(skipna = True)].to_frame().T

  Carat Cut-Grade Clarity Depth Table Price
3  0.29   Premium     VS2  62.4    58   334