In [1]:
import pandas as pd

In [5]:
dict({"column-Name": dict({tuple(("Index-0", "Index-1", "Index-2")): "Value"})})
df = pd.DataFrame(dict({"column-Name": dict({tuple(("Index-0", "Index-1", "Index-2")): "Value"})}))

In [14]:
df.index = df.index.droplevel(level =1)

In [15]:
df

        column-Name
Index-1       Value

In [100]:
df = pd.read_csv('Pizza_levels.csv', header = [0, 1], index_col = [0, 1])

In [25]:
df.loc['A'].loc['Local']

Numerical    Diameter          22
Categorical  Type            Beef
             Size           Large
Numerical    Price            500
Categorical  Extra_Sauce      yes
Name: Local, dtype: object

In [52]:
df.loc['A'].loc['Local'].Numerical.Price

500

In [56]:
df.Numerical.Price.loc['A'].loc['Local']

500

In [32]:
df.loc['A'].loc['Local'].Numerical.Diameter

22

In [35]:
df.loc['A'].loc['Local']['Numerical']['Diameter']

22

In [41]:
df.loc['D'].loc['London']['Categorical'].Type
df.loc['D'].loc['London']['Categorical']['Type']

'classic'

In [47]:
df.loc['E'].loc['Greek']['Categorical'].Extra_Sauce   
df.loc['E'].loc['Greek'].Categorical.Extra_Sauce

'no'

In [51]:
df.Categorical.Extra_Sauce.loc['E'].loc['Greek']

'no'

In [58]:
df.loc['A']

      Numerical Categorical        Numerical Categorical
       Diameter        Type   Size     Price Extra_Sauce
Local        22        Beef  Large       500         yes

In [60]:
type(df.iloc[0])

pandas.core.series.Series

In [64]:
df.iloc[0].to_frame().T

        Numerical Categorical        Numerical Categorical
         Diameter        Type   Size     Price Extra_Sauce
A Local        22        Beef  Large       500         yes

In [67]:
df.iloc[2]

Numerical    Diameter               16
Categorical  Type           Mozzarella
             Size               Medium
Numerical    Price                 300
Categorical  Extra_Sauce            no
Name: (C, UK), dtype: object

In [69]:
df.head()

         Numerical Categorical         Numerical Categorical
          Diameter        Type    Size     Price Extra_Sauce
A Local         22        Beef   Large       500         yes
B Turky         20     Checken   Jambo       350         yes
C UK            16  Mozzarella  Medium       300          no
D London        14     classic   Small       150         yes
E Greek         20      Cheese  Medium       250          no

In [71]:
df["C": "E"]
df.loc["C": "E"]

         Numerical Categorical         Numerical Categorical
          Diameter        Type    Size     Price Extra_Sauce
C UK            16  Mozzarella  Medium       300          no
D London        14     classic   Small       150         yes
E Greek         20      Cheese  Medium       250          no

In [72]:
df.iloc[2: 5]

         Numerical Categorical         Numerical Categorical
          Diameter        Type    Size     Price Extra_Sauce
C UK            16  Mozzarella  Medium       300          no
D London        14     classic   Small       150         yes
E Greek         20      Cheese  Medium       250          no

In [78]:
df.iloc[2: 5]['Numerical']['Price'].loc["C"].loc['UK']

300

In [81]:
df.iloc[2: 5]['Numerical']['Price']

C  UK        300
D  London    150
E  Greek     250
Name: Price, dtype: int64

In [80]:
df.iloc[2: 5]['Numerical']['Price'].iloc[0]

300

In [83]:
df.iloc[2: 5]['Numerical']['Price'].iloc[2]

250

In [91]:
df['Categorical'].iloc[3: 6]
# df['Categorical'].iloc[2: 5]

                                Type    Size Extra_Sauce
D London                     classic   Small         yes
E Greek                       Cheese  Medium          no
F California  Mozzarella Beef-Cheese   Large         yes

In [90]:
df['Numerical'].iloc[2: 5]

          Diameter  Price
C UK            16    300
D London        14    150
E Greek         20    250

In [104]:
df.columns = df.columns.droplevel(level = 1)

In [ ]:
df.index = df.index.droplevel(level = 0)

In [106]:
df

,Numerical,Categorical,Categorical,Numerical,Categorical
Local,22,Beef,Large,500,yes
Turky,20,Checken,Jambo,350,yes
UK,16,Mozzarella,Medium,300,no
London,14,classic,Small,150,yes
Greek,20,Cheese,Medium,250,no
California,25,Mozzarella Beef-Cheese,Large,600,yes