In [1]:
import pandas as pd

In [53]:
Diamonds =  {	"Carat": pd.Series([0.23, 0.23, 0.21, 0.23, 0.29, 0.31, 0.24]),

 "Cut-Grade": pd.Series(["Ideal", "Ideal", "Premium", "Good", "Premium", "Good", "Very Good"]),
 "Clarity": pd.Series(["SI12", "SI12", "SI1", "VS1", "VS2", "SI2", "VVS2"]),
 "Depth": pd.Series([64.5, 66.5, 59.8, 56.9, 62.4, 63.3, 60]),
 "Table": pd.Series([55, 55, 65, 61, 58, 58, 62.8]),
 "Price": pd.Series([326, 326, 326, 327, 334, 335, 336])	}

In [54]:
df = pd.DataFrame(Diamonds)
df

   Carat  Cut-Grade Clarity  Depth  Table  Price
0   0.23      Ideal    SI12   64.5   55.0    326
1   0.23      Ideal    SI12   66.5   55.0    326
2   0.21    Premium     SI1   59.8   65.0    326
3   0.23       Good     VS1   56.9   61.0    327
4   0.29    Premium     VS2   62.4   58.0    334
5   0.31       Good     SI2   63.3   58.0    335
6   0.24  Very Good    VVS2   60.0   62.8    336

In [5]:
df.values

array([[0.23, 'Ideal', 'SI12', 64.5, 55.0, 326],
       [0.21, 'Premium', 'SI1', 59.8, 65.0, 326],
       [0.23, 'Good', 'VS1', 56.9, 61.0, 327],
       [0.29, 'Premium', 'VS2', 62.4, 58.0, 334],
       [0.31, 'Good', 'SI2', 63.3, 58.0, 335],
       [0.24, 'Very Good', 'VVS2', 60.0, 62.8, 336]], dtype=object)

In [7]:
df.head(3)

   Carat Cut-Grade Clarity  Depth  Table  Price
0   0.23     Ideal    SI12   64.5   55.0    326
1   0.21   Premium     SI1   59.8   65.0    326
2   0.23      Good     VS1   56.9   61.0    327

In [9]:
df.tail(3)

   Carat  Cut-Grade Clarity  Depth  Table  Price
3   0.29    Premium     VS2   62.4   58.0    334
4   0.31       Good     SI2   63.3   58.0    335
5   0.24  Very Good    VVS2   60.0   62.8    336

In [11]:
df.dtypes

Carat        float64
Cut-Grade     object
Clarity       object
Depth        float64
Table        float64
Price          int64
dtype: object

In [ ]:
df.astype(complex)

In [18]:
df['Depth'] = df['Depth'].astype(int)

In [20]:
df

   Carat  Cut-Grade Clarity  Depth  Table  Price
0   0.23      Ideal    SI12     64   55.0    326
1   0.21    Premium     SI1     59   65.0    326
2   0.23       Good     VS1     56   61.0    327
3   0.29    Premium     VS2     62   58.0    334
4   0.31       Good     SI2     63   58.0    335
5   0.24  Very Good    VVS2     60   62.8    336

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Carat      6 non-null      float64
 1   Cut-Grade  6 non-null      object
 2   Clarity    6 non-null      object
 3   Depth      6 non-null      int32
 4   Table      6 non-null      float64
 5   Price      6 non-null      int64
dtypes: float64(2), int32(1), int64(1), object(2)
memory usage: 392.0+ bytes

In [22]:
df.describe()

          Carat      Depth      Table       Price
count  6.000000   6.000000   6.000000    6.000000
mean   0.251667  60.666667  59.966667  330.666667
std    0.039200   2.943920   3.656045    4.802777
min    0.210000  56.000000  55.000000  326.000000
25%    0.230000  59.250000  58.000000  326.250000
50%    0.235000  61.000000  59.500000  330.500000
75%    0.277500  62.750000  62.350000  334.750000
max    0.310000  64.000000  65.000000  336.000000

In [25]:
df["Carat"].name

'Carat'

In [26]:
df["Table"].name

'Table'

In [27]:
df.shape

(6, 6)

In [28]:
df.ndim

2

In [29]:
df.size

36

In [31]:
df["Carat"].nbytes

48

In [33]:
type(df["Carat"])

pandas.core.series.Series

In [34]:
type(df)

pandas.core.frame.DataFrame

In [40]:
df.count()

Carat        6
Cut-Grade    6
Clarity      6
Depth        5
Table        6
Price        6
dtype: int64

In [39]:
df

   Carat  Cut-Grade Clarity  Depth  Table  Price
0   0.23      Ideal    SI12   64.5   55.0    326
1   0.21    Premium     SI1   59.8   65.0    326
2   0.23       Good     VS1   56.9   61.0    327
3   0.29    Premium     VS2   62.4   58.0    334
4   0.31       Good     SI2   63.3   58.0    335
5   0.24  Very Good    VVS2    NaN   62.8    336

In [44]:
df["Carat"].value_counts()

0.23    2
0.31    1
0.24    1
0.21    1
0.29    1
Name: Carat, dtype: int64

In [47]:
df['Cut-Grade'].value_counts()

Premium      2
Good         2
Very Good    1
Ideal        1
Name: Cut-Grade, dtype: int64

In [56]:
df

   Carat  Cut-Grade Clarity  Depth  Table  Price
0   0.23      Ideal    SI12   64.5   55.0    326
1   0.23      Ideal    SI12   66.5   55.0    326
2   0.21    Premium     SI1   59.8   65.0    326
3   0.23       Good     VS1   56.9   61.0    327
4   0.29    Premium     VS2   62.4   58.0    334
5   0.31       Good     SI2   63.3   58.0    335
6   0.24  Very Good    VVS2   60.0   62.8    336

In [55]:
df.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
dtype: bool

In [57]:
df.index

RangeIndex(start=0, stop=7, step=1)

In [62]:
df.get('Carat', default = "Not Found")

'Not Found'

In [61]:
df.get("X")

In [64]:
df

   Carat  Cut-Grade Clarity  Depth  Table  Price
0   0.23      Ideal    SI12   64.5   55.0    326
1   0.23      Ideal    SI12   66.5   55.0    326
2   0.21    Premium     SI1   59.8   65.0    326
3   0.23       Good     VS1   56.9   61.0    327
4   0.29    Premium     VS2   62.4   58.0    334
5   0.31       Good     SI2   63.3   58.0    335
6   0.24  Very Good    VVS2   60.0   62.8    336

In [66]:
df.xs(6)

Carat             0.24
Cut-Grade    Very Good
Clarity           VVS2
Depth               60
Table             62.8
Price              336
Name: 6, dtype: object

In [68]:
df.take([3, 5])

   Carat Cut-Grade Clarity  Depth  Table  Price
3   0.23      Good     VS1   56.9   61.0    327
5   0.31      Good     SI2   63.3   58.0    335

In [71]:
df['Carat'].take([0, 1])

0    0.23
1    0.23
Name: Carat, dtype: float64

In [74]:
df.take([0, 5], axis = 0)

   Carat Cut-Grade Clarity  Depth  Table  Price
0   0.23     Ideal    SI12   64.5   55.0    326
5   0.31      Good     SI2   63.3   58.0    335

In [75]:
df.keys()

Index(['Carat', 'Cut-Grade', 'Clarity', 'Depth', 'Table', 'Price'], dtype='object')

In [76]:
df['Carat']

0    0.23
1    0.23
2    0.21
3    0.23
4    0.29
5    0.31
6    0.24
Name: Carat, dtype: float64

In [77]:
df.columns

Index(['Carat', 'Cut-Grade', 'Clarity', 'Depth', 'Table', 'Price'], dtype='object')

In [80]:
df.keys() == df.columns

array([ True,  True,  True,  True,  True,  True])